body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background:  #001821;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

/**header**/


ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container  {
  margin: 0 auto;
  width: 1141px;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 150px;
}

.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.menu {
  position: absolute;
  top: 42px;
  left: 250px;
}

.contacts {
  position: absolute;
  top: 27px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}

.menu__title  {
  font-size: 14px;
  text-decoration: none;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__workhours {
  font-size: 13px;
  text-decoration: underline;
}

/**header**/

/**section hello**/

.hello {
  width: 511px;
}

.hello__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 27.5px;
}

.hello__text {
  font-size: 18px;
  margin-bottom: 51.5px;
}

.hello__button {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}